body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
}

nav {
    background-color: white;
    color: black;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Added to vertically center the links */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-brand h1 {
    margin: 0;
    font-size: 1.5em;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: black;
    margin: 0 1em;
}

section {
    padding: 2em;
    background-color: #fff;
    margin-top: 60px; /* Adjusted margin-top to accommodate the fixed header */
    margin-bottom: 60px; /* Added margin-bottom to avoid overlap with the fixed footer */
}

footer {
    text-align: center;
    padding: 1em;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-icons a {
    color: white;
    font-size: 1.5em;
    margin: 0 0.5em;
    text-decoration: none;
}

.social-icons a:hover {
    color: #007bff;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-container img {
    border-radius: 50%;
    width: 400px; /* Adjust the size as needed */
    height: 400px; /* Adjust the size as needed */
    margin-right: 20px;
}

.text-container h2 {
    font-size: 2.5em;
    white-space: nowrap;
}

.text-container p{
    font-size: 1.5em;
}

.text-container {
    max-width: 400px; /* Adjust the width as needed */
}

.text-container h2,
.text-container p {
    margin: 0em 0;
}

/* Links */
.links {
    margin-top: 0.5em;
}

.links a {
    display: inline-block;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

/* ABOUT SECTION */

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-container {
    display: flex;
    align-items: center;
    margin-top: 1em;
    text-align: center;
}

.about-container img {
    border-radius: 5%;
    width: 300px;
    height: 300px;
}

.about-content {
    max-width: 400px;
    flex-grow: 1; /* Allow the content to grow and take available space */
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    .about-container {
        flex-direction: column;
        align-items: center;
    }

    .about-container img {
        margin-bottom: 10px;
    }
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2em;
}

.section-container {
    width: 45%;
    margin-bottom: 1em;
}

.section-container h3 {
    margin-bottom: 0.5em;
    color: #333;
    display: flex;
    align-items: center;
}

.section-container h3 i {
    margin-right: 0.5em;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    .about-container img {
        margin-bottom: 10px;
    }

    .info-container {
        flex-direction: column;
        align-items: center;
    }

    .section-container {
        width: 80%;
    }
}
.section-container {
    width: 45%; /* Adjust the width as needed */
    margin-bottom: 1em;
}

.section-container h3 {
    margin-bottom: 0.5em;
    color: black; /* Add color to section titles */
}

.section-container p{
    text-align: left;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    .about-container img {
        margin-bottom: 10px;
    }

    .info-container {
        flex-direction: column;
        align-items: center;
    }

    .section-container {
        width: 80%; /* Adjust the width as needed */
    }
}

/* PROJECTS SECTION */

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2em;
}

.project {
    width: 45%;
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.project h3 {
    margin-bottom: 0.5em;
    color: black;
}

.view-project {
    display: block;
    margin-top: 1em;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
}

/* CONTACT SECTION*/
#contact {
    text-align: center;
}

.contact-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.contact-card {
    max-width: 400px;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-card h3 {
    margin-bottom: 0.5em;
    color: #333;
}

.contact-card a {
    text-decoration: none;
    color: #007bff;
}

.contact-card a:hover {
    text-decoration: underline;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    .contact-card {
        width: 80%;
    }
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    .project {
        width: 80%;
    }
}


/* Media Queries */
@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        margin-top: 10px;
    }

    .home-container {
        flex-direction: column;
    }

    .home-container img {
        margin: 0 0 10px 0;
    }
}

@media only screen and (max-width: 400px) {
    nav a {
        font-size: 0.8em;
    }

    section {
        font-size: 0.9em;
    }

    footer {
        font-size: 0.8em;
    }
}
